@paddingStock: 10px;
@bgCol: #eee;

body {
    background-color: @bgCol;
}

.golos-feedback-container {
    font-family: 'Open-sans', sans-serif;
    width: 100%;
    display: flex!important;
    justify-content: center!important;

    .golos-feedback-container-wrapper {
        margin: 0!important;
        padding: @paddingStock 0;

        .feedback {
            width: 100%;

            .feedback-wrapper {
                display: flex;
                flex-flow: row;
                justify-content: flex-start;

                @media (max-width: 767.98px) {
                    flex-flow: column;
                }

                .text {
                    width: 70%;
                    display: flex;
                    flex-flow: column;
                    justify-content: space-between;

                    @media (max-width: 767.98px) {
                        width: 100%;
                    }

                    .text-block {
                        display: flex;
                        flex-flow: column;

                        .title {
                            font-size: 2rem;
                        }

                        .body {
                            text-align: justify;
                            width: 100%;
                        }
                    }

                    .utility {
                        padding-top: @paddingStock;
                    }
                }

            }
        }

        .comment {
            .comment-wrapper {
                display: flex;
                flex-flow: row;
                justify-content: flex-start;

                @media (max-width: 767.98px) {
                    flex-flow: column;
                }

                .text {
                    width: 70%;

                    @media (max-width: 767.98px) {
                        width: 100%;
                    }

                    .text-block {
                        display: flex;
                        flex-flow: column;

                        .title {
                            font-size: 2rem;
                        }

                        .body {
                            text-align: justify;
                            width: 100%;
                        }
                    }
                }
            }
        }

        .control-panel {
            width: 30%;
            padding-left: @paddingStock;

            @media (max-width: 767.98px) {
                width: 100%;
                padding-left: 0;
                padding-top: @paddingStock;
            }

            .control-panel-wrapper {
                height: 100%;
                border: 2px solid #eee;
                border-radius: @paddingStock;
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;

                .created {
                    font-size: .8rem;
                    padding-top: 1%;
                    padding-bottom: 1%;
                }

                .author {
                    font-size: .8rem;
                    padding-top: 1%;
                    padding-bottom: 1%;
                }

                .avatar {
                    display: flex;
                    justify-content: center;
                    width: 100%;

                    .avatar-holder {
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        background-image: url('http://www.xn--80aefdbw1bleoa1d.xn--p1ai//plugins/uit/mychat/assets/img/no_avatar.jpg');
                        background-position: center;
                        background-size: cover;
                    }
                }
            }



        }

        .tile {
            background-color: white;
            border-radius: @paddingStock;
            margin-top: @paddingStock/2;
            margin-bottom: @paddingStock/2;
            padding: @paddingStock;
        }
        
        .form-add-feedback, .form-add-comment{
            .wrapper{
                .form-title, .form-text, .form-type{
                    display: flex;
                    flex-flow: column;
                    padding-bottom: @paddingStock;
                }
                input, textarea {
                    padding: @paddingStock/4;
                }
            }
        }
        
        .filter {
            .wrapper{
                display: flex;
                flex-flow: row;
                justify-content: flex-start;
                .tab{
                    padding: @paddingStock;
                    margin-right: @paddingStock;
                    margin-light: @paddingStock;
                }
                .tab:hover{
                    cursor: pointer;
                    background-color: @bgCol;
                }
            }
            .tile{
                padding-bottom: 0;
            }
        }
        
        .navigation, .footer{
            .wrapper{
                display: flex;
                flex-flow: row;
                justify-content: space-between;
                .buttons{
                    button.btn{
                        margin-right: @paddingStock;
                        margin-left: @paddingStock;
                    }
                }
                .copyright, .logo{
                    img{
                        max-width: 25px;
                        margin: 0 @paddingStock;
                    }
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}