nav{
    padding: 10px;
    .navbar-brand{
        line-height: 30px;
    }
    li{
        margin: 0 20px;
    }
}

/*github octocat*/
.github-corner {
    position: fixed;
    top: 0;
    right: 0;
}