@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?brrfj4#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?brrfj4') format('truetype'),
    url('../fonts/icomoon.woff?brrfj4') format('woff'),
    url('../fonts/icomoon.svg?brrfj4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-thumbs-down:before {
  content: "\e901";
}
.icon-thumbs-up:before {
  content: "\e902";
}
.icon-message-square:before {
  content: "\e900";
}
.icon-box-add:before {
  content: "\e95e";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-forward:before {
  content: "\e969";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-arrow-left:before {
  content: "\ea38";
}
.icon-image:before {
  content: "\e90d";
}

*{
    //font-family: 'Open Sans',sans-serif;
    font-size: inherit;
    box-sizing: border-box;
}
body{
    background-color: #eee;
}
a, a:hover{
    color: inherit;
}



/* navbar with tabs to sort feedbacks*/
.gFwrapper .nav-tab-buttons{
    margin-bottom: 10px;
    >div{
        padding: 0;
    }
    
    nav{
        padding: 0;
        .tabs{
            padding: 0px;
            ul.nav-tabs{
                padding: 10px 10px 0px 10px;
                background-color: #fff;
            }
            .tab{
                background-color: transparent;
                border: none;
            }
        }
    }
    .nav-link.tab.active{
        background-color: #eee;
        border-bottom: 1px solid #eee;
    }
}

/*styles of card*/
.gFwrapper .tile{
    padding: 15px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius:  5px;
    margin-bottom: 10px;
    background-color: white;
}

.gFwrapper .fb{
    margin-top: 0;
    margin-bottom: 0;
    background-color: transparent;
    
    .body{
        width: 100%;
    }
    .text{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        p{
            text-align: justify;
            width: 100%;
        }
        h3:hover{
            cursor: pointer;
        }
        button{
            margin: 0;
        }
        span{
            padding: 0 10px;
        }
        .badge{
            padding: 5px 10px;
        }
    }
    .buttons{
        width: 100%;
        bottom: 0;
    }
    
}

.gFwrapper .controls{
    display: flex;
    align-content: stretch;
    .controls-wrapper{
        width: 100%;
        padding: 15px;
        border: 1px solid rgba(0,0,0,0.125);
        border-radius: 5px;
        .name, .date{
            padding: 3px;
            width: 100%;
            text-align: center;
        }
        .photo{
            padding: 0px 50px;
            img{
                width: 100%;
            }
        }
        .likes{
            display: flex;
            justify-content: center;
            button{
                margin: 0 5px;
                display: flex;
                align-items: stretch;
            }
            span{
                padding: 4px 8px;
                line-height: 19px;
            }
            [class^="icon-"], [class*=" icon-"]{
                font-size: 19px;
                display: inline-block;
            }
            span.badge{
                height: 27px;
                display: inline-block;
            }
        }
    }
}

.gFwrapper .hidden{
    display: none;
}

.gFwrapper .btn-add-fb-done, .gFwrapper .btn-add-fb-cancel{
    margin-top: 5px;
}

.gFwrapper .ck-editor__editable_inline{
    height: 150px;
}
.gFwrapper .empty-fb{
    padding: 20vh 10px 10px 10px;
    text-align: center;
    
}