@paddingStock: 10px;
@bgCol: #eee;

body {
    background-color: @bgCol;
}

.golos-feedback-container {
    font-family: 'Open-sans', sans-serif;
    width: 100%;
    display: flex!important;
    flex-flow: column;
    align-items: center!important;
    a, a:hover{
        text-decoration: none!important;
        color: inherit;
    }
    button, input, textarea {
        font-family: 'Open-sans', sans-serif;
    }

    .golos-feedback-container-wrapper {
        margin: 0!important;
        padding: @paddingStock 0;

        .feedback {
            width: 100%;

            .feedback-wrapper {
                display: flex;
                flex-flow: row;
                justify-content: flex-start;

                @media (max-width: 767.98px) {
                    flex-flow: column;
                }

                .text {
                    width: 70%;
                    display: flex;
                    flex-flow: column;
                    justify-content: space-between;

                    @media (max-width: 767.98px) {
                        width: 100%;
                    }

                    .text-block {
                        display: flex;
                        flex-flow: column;

                        .title {
                            font-size: 2rem;
                            word-wrap: break-word;
                        }
                        .title:hover{
                            cursor: pointer;
                        }

                        .body {
                            word-wrap: break-word;
                            text-align: justify;
                            width: 100%;
                        }
                    }

                    .utility {
                        padding-top: @paddingStock;
                        .open-comments{
                            span.badge{
                                padding: 0.25em 1rem;
                            }
                        }
                    }
                }

            }
        }

        .comment {
            .comment-wrapper {
                display: flex;
                flex-flow: row;
                justify-content: flex-start;

                @media (max-width: 767.98px) {
                    flex-flow: column;
                }

                .text {
                    width: 70%;

                    @media (max-width: 767.98px) {
                        width: 100%;
                    }

                    .text-block {
                        display: flex;
                        flex-flow: column;

                        .title {
                            font-size: 2rem;
                        }

                        .body {
                            text-align: justify;
                            width: 100%;
                        }
                    }
                }
            }
        }

        .control-panel {
            width: 30%;
            padding-left: @paddingStock;

            @media (max-width: 767.98px) {
                width: 100%;
                padding-left: 0;
                padding-top: @paddingStock;
            }

            .control-panel-wrapper {
                height: 100%;
                border: 2px solid #eee;
                border-radius: @paddingStock;
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;

                .created {
                    font-size: .8rem;
                    padding-top: 1%;
                    padding-bottom: 1%;
                }

                .author {
                    font-size: .8rem;
                    padding-top: 1%;
                    padding-bottom: 1%;
                }

                .avatar {
                    display: flex;
                    justify-content: center;
                    width: 100%;

                    .avatar-holder {
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        //background-image: url('http://www.xn--80aefdbw1bleoa1d.xn--p1ai//plugins/uit/mychat/assets/img/no_avatar.jpg');
                        background-position: center;
                        background-size: cover;
                    }
                }
            }



        }

        .tile {
            background-color: white;
            border-radius: @paddingStock;
            margin-top: @paddingStock/2;
            margin-bottom: @paddingStock/2;
            padding: @paddingStock;
        }
        
        .form-add-feedback, .form-add-comment{
            .wrapper{
                .form-title, .form-text, .form-type{
                    display: flex;
                    flex-flow: column;
                    padding-bottom: @paddingStock;
                }
                input, textarea {
                    padding: @paddingStock/4;
                }
                div.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-blurred.ck-editor__editable_inline,
                div.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-focused.ck-editor__editable_inline{
                    height: 20vh;
                }
            }
        }
        
        .filter {
            .wrapper{
                display: flex;
                flex-flow: row;
                justify-content: flex-start;
                .tab{
                    padding: @paddingStock;
                    margin-right: @paddingStock;
                    margin-left: @paddingStock;
                }
                .tab:hover{
                    cursor: pointer;
                    background-color: @bgCol;
                }
                .tab.active{
                    background-color: #eee;
                }
            }
            .tile{
                padding-bottom: 0;
            }
        }
    }
    
    .navigation, .footer{
        background-color: #eee;
        z-index: 1;
        width: 100%;
        position: fixed;
        .wrapper{
            padding: @paddingStock;
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            .buttons{
                display: flex;
                flex-flow: row;
                list-style: none;
                list-style-type: none;
                margin: 0;
                li.nav-item{
                    padding: 0!important;
                    margin: 0!important;
                    button.btn{
                        font-family: inherit;
                        margin-right: @paddingStock;
                        margin-left: @paddingStock;
                    }
                }
                
            }
            .copyright, .logo{
                img{
                    max-width: 25px;
                    margin: 0 @paddingStock;
                }
                display: flex;
                align-items: center;
            }
        }
    }
    .navigation{
        padding-right: 7%;
        top: 0;
        a.github-corner{
            position: fixed;
            z-index: 2;
            top: 0;
            right: 0;
        }
    }
    .footer{
        bottom: 0;
    }
    
    .vfx{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 4;
        .lding {
            background: black;
            opacity: 0.5;
        }
        .lds-css {
            height: 200px;
            width: 200px;
            position: fixed;
            left: 50%;
            top: 50%;
            margin-left: -100px;
            margin-top: -100px;
            z-index: 1;
        }
        @keyframes lds-cube {
            0% {
                -webkit-transform: scale(1.5);
                transform: scale(1.5);
            }
            100% {
                -webkit-transform: scale(1);
                transform: scale(1);
            }
        }
        @-webkit-keyframes lds-cube {
            0% {
                -webkit-transform: scale(1.5);
                transform: scale(1.5);
            }
            100% {
                -webkit-transform: scale(1);
                transform: scale(1);
            }
        }
        .lds-cube {
            position: relative;
        }
        .lds-cube div {
            position: absolute;
            width: 80px;
            height: 80px;
            top: 10px;
            left: 10px;
            background: #ec0000;
            -webkit-animation: lds-cube 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
            animation: lds-cube 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
            -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s;
        }
        
        .lds-cube div:nth-child(2) {
            top: 10px;
            left: 110px;
            background: #e1e1e1;
            -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
        }
        .lds-cube div:nth-child(3) {
            top: 110px;
            left: 110px;
            background: #0057ff;
            -webkit-animation-delay: 0s;
            animation-delay: 0s;
        }
        .lds-cube div:nth-child(4) {
            top: 110px;
            left: 10px;
            background: #a5a5a5;
            -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s;
        }
        .lds-cube {
            width: 200px !important;
            height: 200px !important;
            -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
            transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
        }
    }
    
}
    
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?4vrrxz');
  src:  url('../fonts/icomoon.eot?4vrrxz#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?4vrrxz') format('truetype'),
    url('../fonts/icomoon.woff?4vrrxz') format('woff'),
    url('../fonts/icomoon.svg?4vrrxz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-thumbs-down:before {
  content: "\e900";
}
.icon-thumbs-up:before {
  content: "\e901";
}
.icon-download:before {
  content: "\e960";
}
.icon-forward:before {
  content: "\e969";
}
.icon-bubbles2:before {
  content: "\e96d";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-magic-wand:before {
  content: "\e997";
}
.icon-bug:before {
  content: "\e999";
}
.icon-gift:before {
  content: "\e99f";
}
.icon-question:before {
  content: "\ea09";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-undo:before {
  content: "\e965";
}